@model my_website.Models.Entity.Tbl_Projects

@{
    ViewBag.Title = "ProjectUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <div class="p-5">
        <div class="mb-3">
            <div class="row">
                <div class="form-group col-6">
                    @Html.HiddenFor(x => x.ID)
                    <label class="form-label">Header</label>
                    <input type="text" name="HEADER" class="form-control" value="@Html.DisplayTextFor(x=>x.HEADER)" placeholder="Project Header.." />
                </div>
                <div class="form-group col-6">
                    <label class="form-label">Category</label>
                    @Html.DropDownListFor(x => x.Tbl_ProjectCategories.ID, (List<SelectListItem>)ViewBag.Category, new { @class = "form-control" })
                </div>
                <div class="form-group col-12">
                    <label class="form-label">Image</label>
                    <input type="text" name="IMAGE" class="form-control" value="@Html.DisplayTextFor(x=>x.IMAGE)" placeholder="Link.." />
                </div>
                <div class="form-group col-12">
                    <label class="form-label">GitHub</label>
                    <input type="text" name="GITHUB" class="form-control" value="@Html.DisplayTextFor(x=>x.GITHUB)" placeholder="Link.." />
                </div>
            </div>
            <div>
                <button class="btn btn-primary btn-lg btn-block">Update</button>
            </div>
        </div>
    </div>
</form>